/* my-vip */
.first-tier{
	width:3.75rem;
    height:1.9rem ;
    background-color:#f0142d; 
}
.nav-box1{
    width:3.75rem;
    height:0.45rem ;
    background-color:#f0142d; 
}
.set{
    width:1.05rem;
	height: 0.35rem;
	margin-top: 0.1rem;
	float: right;
    display: inline-block;
    display: flex;
    justify-content: space-around;
}
.set img{
    width: 0.23rem;
    height: 0.20rem;
	line-height:0.45rem;
}
.head{
    width:3.47rem;
    height:0.88rem ;
	margin: 0 auto;
    background-color:#f0142d; 
}
.head-lef{
	float: left;
}
.head-lef h3{
	font-size: 0.22rem;
	color: #FFFFFF;
	margin-bottom: 0.09rem;
	width: 1.20rem;
}
.head-lef p{
	font-size: 0.15rem;
	color: #FFFFFF;
}
.head-rig{
	float: right;
}
.head-rig img{
	width:0.58rem;
	height:0.57rem ;
}
.VIP{
	width:3.47rem;
	height:0.58rem ;
	border-top-right-radius: 0.1rem;
	border-top-left-radius: 0.1rem;
	margin: 0 auto;
	background: #f1e3bc;

}
.VIP .super{
	width:3.16rem;
	height:0.33rem ;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
} 
.super-H{
	font-size: 0.15rem;
	color: #604931;
	margin-top: 0.1rem;
}
.super-S{
	font-size: 0.1rem;
	color: #a28d6c;
	margin-top: 0.1rem;
}
.super-H2{
	font-size: 0.1rem;
	color: #a28d6c;
	margin-left: 0.16rem;
}
/* module */
.module-1{
	width:3.75rem;
	background: #FFFFFF;

}
.module-line{
	width:3.35rem;
	height:0.79rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;	
	padding-top: 0.18rem;
}
.module-1-1{
	width:0.66rem;
	height:0.68rem;
	text-align: center;
}
.module-1-1 img{
	width:0.3rem ;
	height: 0.26rem;
	margin: 0 auto;
}
.collect{
	font-size: 0.13rem;
}
.collect-num{
	font-size: 0.09rem;
	color: #aaaaaa;
}
/* <!-- red-packet--> */
.red-packet{
	width:3.75rem;
	background: #FFFFFF;
}
.red-packet-line{
	width:3.44rem;
	padding:0.01rem 0.15rem;
	display: flex;
	justify-content: space-between;
	background: #FFFFFF;
}
.red-packet-line .card{
	font-size:0.15rem ;
	font-weight: 900;
}
.red-packet-line .card-all{
	font-size:0.12rem;
	color: #AAAAAA;
}
.cash{
	width: 1.67rem;
	height: 0.64rem;
	background: #fbe9ec;
	border-radius: 0.13rem;
}
.cash-small{
	width: 1.47rem;
	height: 0.64rem;
	margin: 0 auto;
	border-radius: 0.13rem;
}
.cash-small-1{
	margin-top: 0.1rem;
	width: 1.47rem;
	display: flex;
	justify-content: space-around;
}
.price{
	font-size: 0.18rem;
	color: red;
}
.shop-price{
	font-size: 0.13rem;
}
.cash-small-2{
	width: 1.47rem;
	display: flex;
	justify-content: space-around;
}
.shop-time{
	margin-top: 0.1rem;
	font-size: 0.1rem;
	color: #AAAAAA;
}
.more{
	width:3.47rem;
	height: 0.335rem;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
	background: #f9f9f9;
	margin-top: 0.1rem;
	border-radius: 0.05rem;
	line-height:0.335rem ;
}
.more .card{
	font-size:0.12rem ;
	margin-left: 10px;
}
.more .card-all{
	font-size:0.12rem;
	color: #AAAAAA;
}
/* tool */
.tool{
	width:3.75rem;
	background: #FFFFFF;
}
.tool-1{
	width:3.44rem;
	padding:0.1rem 0.12rem;
	display: flex;
	justify-content: space-between;
	background: #FFFFFF;
}
.tool-1 .card{
	font-size:0.15rem ;
	font-weight: 900;
}
/* rule */
.rule{
	text-align: center;
	color: #AAAAAA;
	font-size: 12px;
	background-color: #fff;
}