body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,input,textarea,select,td,th{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
	color: #000000;
}
ul,ol{
	list-style: none;
}
html,body{
	height: 100%;
}
body{
	font-family: 微软雅黑;
	display: -webkit-flex;
	background: #f9f9f9;
	-webkit-flex-direction:column;

}
html{
	font-size: 26.67vw;
}
img{
	border: none;
	display: block;
}

.menuheader{
	width: 100%;
	height: 1rem;
	background: gray;
	padding-top: .15rem ;
	position: relative;
	
}
.iconBox {
	color: white;
	font-size: .22rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	top: 0;
	background: gray;
	padding-top: .1rem;
}
.iconBox img{
	width: .3rem;
	height: .3rem;
}

.shopSearchInput{
	width:1.8rem ;
	height: .32rem;
	background: #CECED2;
	border: 1px solid whitesmoke;
	border-radius: 6px;
	text-indent: .25rem;
	background: url("imgs/Menu/search-50.png") no-repeat;
	background-size: .18rem .18rem;
	background-position-y: .08rem;
    opacity: 1;
}
.iconBox img:last-child{
	color: red;
}
.starShop {
	color: white;
	display: flex;
	align-items: center;
	margin-top: .15rem;
	margin-left: .15rem;
	/* display: none; */
}
.starShop h3{
	font-size:.22rem;
}

.firstServe{
	width: .6rem;
	height: .22rem;
	border: 1px solid white;
	font-size: .1rem;
	line-height: .22rem;
	text-align: center;
	margin-left:12px ;
}

.menu-details{
	width: 3.15rem;
	background: white;
	border-radius: 8px;
	margin: 0 auto;
	padding: 0.15rem .15rem .3rem;	
	/* display: none; */
}
.shopMessage{
	display: flex;
	align-items: center;
}
.shopMessageLeft{
	margin-right: 15px;
}
.shopMessageLeft h1{
	font-size: .2rem;
}
.shopMessageLeft img{
	width: .12rem;
	height: .12rem;
}
.shopMessageLeft span{
	font-size: .11rem;
	margin-left: 6px;
}
.sendTime{
	display: flex;
	align-items: center;
}
.shopMessageRight img{
	width: .56rem;
	height: .56rem;
}
.fullReduse{
	display: flex;
}
.fullRedusebox{
	width: .8rem;
	height: .17rem;
	font-size: .1rem;
	border: 1px  solid black;
	text-align: center;
	margin-right:.15rem;
}

.moreRows img{
	width:.15rem;
	height:.15rem;	
}
.fullradiusAndmore{
	margin-top: .15rem;
	display:flex ;
	justify-content: space-between;
	align-items:center ;
}

.noShow h5{
	margin-top: .3rem;
	font-size: .15rem;
}
.new{
	display: flex;
	margin: .15rem 1rem .15rem 0;
}
.shopDiscount .minus h6{
	background: red;
}
.shopDiscount .match h6{
	background: orangered;
}
.shopDiscount .discount h6{
	background: firebrick;
}
.new h6{
	width: .2rem;
	height: .2rem;
	font-size: .08rem;
	text-align: center;
	line-height: .2rem;
	color: white;
	background: darkgreen;
	border-radius: 5px;
}
.noShow span{
	font-size: .1rem;
	color: #A1A1A1;
	text-indent:10px;
}
 .firstService{
	display: flex;
	align-items: center;
	margin-bottom: .08rem;
}
.24hour img{
	display: block;
	width:.15rem ;
	height: .12rem;
}
.privilege p{
	font-size: .1rem;
	color: #A1A1A1;
}
.shopNotice p{
	font-size: .09rem;
	color: #888888;
}

.back img{
	width: .48rem;
	height:.20rem ;
	margin:.3rem 0 0 48%;
}
.noShow{
	display: none;
}



/* 点菜 */
.mainContent{
	padding: 0 .15rem;
	margin-top: .25rem;
}
.threeMode{
	display: flex;
}
.threeMode a{
	font-size: .18rem;
	margin-right: 0.62rem;
	color: black;
}
.threeMode a:hover{
	padding-bottom: .1rem;
	border-bottom: 1px solid red;
}
.orderDishes{
	display: flex;
}
/* 左边 */
.leftNav{
	width: 0.8rem;
	height:100%;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	
}
.leftNav a{
	font-size: .12rem;
	line-height: 1.08rem;
	color: black;
	display: block;
}

/* 右边 */
.dishTypeTitle{
	font-size: .17rem;
	line-height: .61rem;
}
.dishTypeFoods{
	display: flex;
	margin-bottom: .33rem;
}

.dishTypeFoodsImg img{
	width: .93rem;
	height:.97rem;
	margin-right: .08rem;
}
.foodsName{
	font-size: .18rem;
}
.foodsIntrduces p{
	font-size: 12px;
	color: #CECED2;
}



.foodsPrice{
	display: flex;	
	align-items: center;
	margin-top: .2rem;
	height:.25rem ;
	position: relative;
	top: 0;
	left: 0;
}

.foodsPrice h5{
	font-size: .18rem;
	margin-right: 70%;
}
.foodsPrice img{
	width: .24rem;
	height: .25rem;
	position: absolute;
	top: 0;
	left: 1.2rem;
}
.selfshopCar{
	width:3.46rem ;
	background: #808080;
	border-radius:1.5rem;
	margin: 0 auto ;
	display: flex;
	position: fixed;
	bottom: 0;
	z-index: 1;
}
.fa-shopping-bag {
	display: block;
	color: orangered;
}
.selfshopCar .number{
	display: block;
	font-size: .2rem;
	width: .3rem;
	height: .3rem;
	background: red;
	border-radius: 50%;
	border:1px solid wheat;
	text-align: center;
	line-height: .3rem;
	color: #F9F9F9;
	position: absolute;
	left:.3rem ;
	top:.01rem;
}
.sendFee{
	font-size:.2rem;
	line-height:.5rem ;
	margin-left: .3rem;
}