
/* 中部 */
.top{
	width: 100%;
	/* background: pink; */
	display: flex;
	flex-direction: column;
	padding-top: 1rem;
}
.top img{
	display: block;
	width: 2.15rem;
	height: 2.7rem;
	margin: 0 auto;
}
.top p{
	font-size:0.14rem;
	height: 0.15rem;
	margin: 0 auto;
	margin-top: 110px 0px;
	padding-top: 0.42rem;
	padding-bottom: 0.42rem;
}
.top button{
	width: 3rem;
	height: 0.61rem;
	margin: 0 auto;
	font-size: 0.25rem;
	border-radius: 0.25rem;
	border: none;
	outline: none
}
/* 取消点击效果 */
.top button:active{
	outline: none
}
/* 底部 */
.footer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 0.75rem;
	/* background: blue; */
}
.footer span{
	font-size: 0.35rem;
}
.footer a{
	color: red;
	font-size: 0.15rem;
	/* display: flex;
	justify-content: center; */
	text-align: center;
	vertical-align: middle;
}
.footer a span{
	display: block;
}
