body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,input,textarea,select,td,th{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
ul,ol{
	list-style: none;
}
html,body{
	height: 100%;
}
body{
	font-family: 微软雅黑;
	display: -webkit-flex;
	-webkit-flex-direction:column;
	padding: 0 .15rem  ;
}
html{
	font-size: 26.67vw;
}
img{
	border: none;
	display: block;
}

/* header */
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: .37rem;
	padding: .15rem  0;
}
.row{
	font-size: .3rem;
}
.shopName{
	font-size: .18rem;
	color: #4d4d4d;	
	letter-spacing:5px;
}
.blank{
	font-size: .15rem;
	color: #4d4d4d;
}
.trash img{
	width:.15rem;
	height: .15rem;
	margin-left: .15rem;
}

/* car */
.car{
	/* height:.6rem ; */
	display: flex;
	align-items: center;
}
.car img{
	width: .16rem;
	height: .16rem;
	margin-right: .12rem;
}
.car p{
	font-size: .13rem;
}

/* foodsMes */
.shopList{
	border-bottom: 1px solid gray;
	margin-top: .15rem;
}
.shopMes{
	width: 100%;
	height: .33rem;
	display: flex;
	align-items: center;
}
.shopName h5{
	text-indent: .15rem;
	font-size: .16rem;
}
.rightRow h6{
	font-size: .25rem;
	color:#a1a1a1 ;
	font-weight: 100;
	text-indent: .15rem;
}
.editor{
	font-size: .15rem;
	text-indent: 1.15rem;
}
/* 商品信息 */
.menus{
	width: 100%;
	height:.78rem;
	display: flex;
	align-items: center;
	margin-top: .19rem;
}

.menusMes{
	display: flex;
	align-items: center;
}
.nochecked img{
	width: .15rem;
	height: .15rem;
}
.foods {
	width: .56rem;
	height: .56rem;
	margin-left: .1rem;
}
.menusDetails{
	margin-left: .1rem;
}
.menusDetails h3{
	font-size: .15rem;
}
.num{
	display: flex;
	line-height: .17rem;
	font-size: .17rem;
	margin-top: .07rem ;
}
.num p{
	width: .17rem;
	height: .17rem;
	border: 1px solid red;
	font-size: .17rem;
	text-align: center;
	color: red;
	border-radius: 50%;
}
.num span{
	margin:0 .1rem
}

.singlePrice{
	font-size:.15rem;
	line-height: .78rem;
	text-indent: 1rem;
}
/* 商家活动 */
.packPrice{
	font-size: .18rem;
	margin-top: .19rem;
	display: flex;
	justify-content: space-between;
}
.packPrice p{
	margin-right: .4rem;
}

/* 满减活动 */
.fullReduse{
	display: flex;
	margin-top: .15rem;
}
.fullRedusebox{
	width: .6rem;
	height: .17rem;
	font-size: .1rem;
	border: 1px  solid red;
	color: red;
	text-align: center;
	line-height: .17rem;
	margin-right: .1rem;
}

/* 总计 */
.shopTotalPrice{
	font-size: .14rem;
	line-height: .66rem;
	display: flex;
	align-items: center;
	float: right;
}
.shopTotalPrice span{
	color: red;
}
.accountBtn{
	width: .76rem;
	height: .25rem;
	border-radius: 8px;
	background: red;
	color: white;
	font-size: .14rem;
	line-height: .25rem;
	text-align: center;
	margin-left: .3rem;
}